@import url(https://fonts.googleapis.com/css?family=Montserrat);
 
body {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

button {
  width: 200px;
  height: 54px;
  left: 608px;
  top: 379px;
  background-color: #9CEBD5;
  color:#000000;
}

table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
}
 
thead {
    background-color: #333;
    color: #fff;
}
 
thead, tbody {
    display: block;
    color: #CDFFE7;
}
 
th, td {
    padding: 8px 10px;
    border: 1px solid #ddd;
    width: 130px;
    background-color: #36816C;
    
}
 
tbody {
    height: 140px;
}
